@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.custom-button {
  @apply bg-blue-500 text-white py-2 px-4 rounded;
}

.meteor {
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 9999px;
  transform: rotate(215deg);
  position: absolute;
}

.meteor-head {
  width: 10px;
  height: 10px;
  background: linear-gradient(to right, white, transparent);
  border-radius: 50%;
}

.meteor-tail {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 1px;
  background: linear-gradient(90deg, white, transparent);
  transform: translateX(100%);
}

.meteor-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  animation: meteor 5s linear infinite;
}

@keyframes meteor {
  0% {
    transform: rotate(215deg) translateX(0);
    opacity: 1;
  }
  
  70% {
    opacity: 1;
  }
  
  100% {
    transform: rotate(215deg) translateX(-500px);
    opacity: 0;
  }
}

.title {
  font-size: 2rem;
  color: #f2f2f2;
  text-align: center;
  font-weight: bold;
  /* Add any other styles you want */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
